pandas==1.4.4
textblob==0.17.1
nltk==3.7
wordcloud==1.9.2
matplotlib==3.5.2
click==8.0.4
typer==0.7.0
spacy>=3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
