streamlit==1.16.0
pandas==1.4.4
textblob==0.17.1
nltk==3.7
wordcloud==1.9.2
matplotlib==3.5.2
Click==7.0
typer==0.7.0
spacy==3.5.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
spacy-legacy==3.0.12
spacy-loggers==1.0.4
